* {
	box-sizing: border-box;
	outline: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
	-webkit-appearance: none;
}

body {
	font-size: 16px;
}

.bday-card-wrapper {
	display: grid;
	grid-gap: $gutter;	
	grid-template-columns: repeat(4, 1fr);


}

@media (max-width: 1200px) {
	
	.bday-card-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

}

@media (max-width: 950px) {
	
	.bday-card-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media (max-width: 650px) {
	
	.bday-card-wrapper {
		grid-template-columns: repeat(1, 1fr);
	}

}