// COLORS
$color-white: #ffffff;
$color-lightblue: #2d7eff;
$color-darkblue: #000;

// GRADIENTS
$gradient-blue--light: linear-gradient(#113977, #3758EE, #6FB1FC);
$gradient-blue--dark: linear-gradient(#28387D, #28387D);

// SETTINGS 
$max-width: 1090px;
$gutter: 32px;
$border-radius: 7.5px;
